{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-sql", "prettier-plugin-sh"],
  "overrides": [
    {
      "files": "*.sql",
      "options": {
        "language": "postgresql"
      }
    },
    {
      "files": "*.sh",
      "options": {
        "parser": "sh"
      }
    }
  ]
}
