{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-sql", "prettier-plugin-sh"],
  "overrides": [
    {
      "files": ["*.json", ".vscode/*.json"],
      "options": {
        "printWidth": 80,
        "singleQuote": false
      }
    },
    {
      "files": ["*.yml", "*.yaml", ".github/workflows/*.yml"],
      "options": {
        "singleQuote": false,
        "proseWrap": "preserve"
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "always"
      }
    },
    {
      "files": "*.sql",
      "options": {
        "language": "postgresql"
      }
    },
    {
      "files": ["*.html"],
      "options": {}
    },
    {
      "files": ["*.css"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.js", "*.cjs", "*.mjs", "*.jsx", "*.tsx"],
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": ["*.sh", "**/scripts/pre-commit", "**/Dockerfile", "Dockerfile", "Dockerfile.*"],
      "options": {
        "parser": "sh"
      }
    }
  ]
}
